.table {
    margin: 30px auto  ;
    border-collapse: collapse;
    border: 1px solid black;
    width: 500px;
}

th, td {
    padding: 5px 10px;
    text-align: center;
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: grey;
}

.trHead {
    text-align: center;
    background-color: black;
    color: white;
}

.type {
    position: relative;
}

.type::after {
    content: "";
    display: inline-block;
    width: 50%;
}

.typeWrapper {
    display: inline-block;
    transform: translateX(50%);
}